.preloader {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 300px;
  margin-top: 10%;
}

.sfGif {
  display: flex;
  width: 254px;
  height: 254px;
  opacity: 0.8;
  margin-left: -10px;
}

.loadingText {
  color: #e6bbff;
  opacity: 0.8;
  font-weight: bold;
  animation: floatMagicText 8s ease-in-out infinite;
}

@keyframes floatMagicText {
  0% {
    transform: translate(0px, 0px);
  }

  25% {
    transform: translate(0px, -15px);
    rotate: 2deg;
    opacity: 1;
    color: #ee80ff;
  }

  50% {
    transform: translate(0px, 0px);
    rotate: 0deg;
    color: #e6bbff;
    opacity: 0.8;

  }
  75% {
    transform: translate(-2px, -15px);
    rotate: -2deg;
    opacity: 1;
    color: #ee80ff;
  }
  100% {
    transform: translate(0px, 0px);
    color: #e6bbff;
    opacity: 0.8;
  }
}