.bgBase1 {
  background-color: #080613;
  min-height: 1630px !important;
  height: 100vh !important;
  width: 100%;
}
.lineSection {
  overflow: hidden !important;
  word-break: break-all;
}

.chartInfo {
  color: #747083;
  margin: 20px 0 30px 0;
  font-size: 20px;
  font-family: 'Palatino Linotype', sans-serif;
  z-index: 1;
}

.chartHead{
  display: flex;
  justify-items: center;
  flex-direction: column;
  padding: 0;
  margin-top: 30px;
  text-align: center;
  color: white;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  z-index: 1;

}

.lineWrapper {
  height: 600px;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}

@media (max-width: 470px) {
  .lineWrapper {
    display: none;
  }
}