.lineChartWrapper{
  z-index: 10 !important;
}


.lineChartComp {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  height: 500px;
}
.chartDetails {
  height: 100%;
  width: 50%;
  transform: translateX(100%);
  opacity: 0;
}

.detailsHead {
  justify-self: flex-start;
  font-weight: 500;
  font-size: 1.7em;
  margin-left: 3%;
  background: linear-gradient(to right, #ffffff 20%, #e880ff 40%, #e880ff 60%, #ffffff 80%);
  background-size: 200% auto;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 5s linear infinite;

  @keyframes shine {
    to {
      background-position: 200% center;
    }
  }
}

.activeDetails {
  transform: translateX(0%);
  opacity: 1;
  transition: 2s;
  transition-delay: 0.4s;
}
.detailsDesc {
  margin-top: 2%;
  margin-left: 6% !important;
  word-break: break-word;
}

.detailsDesc p {
  text-indent:  5%;
  opacity: 0;
}

.fade-inP {
  transition: 1.2s ease-in-out;
}

.lineChart {
  overflow: hidden;
}

.recharts-surface {
  width: 100%;
  transition: 2s !important;
}

.recharts-surface:hover {
  cursor: pointer;
}
.recharts-cartesian-grid {
  transition: 1s !important;
}
.recharts-default-legend svg.recharts-surface {
  opacity: 0;
}

.recharts-legend-item::before {
  position: absolute;
  top: 60%;
  margin-left: 0;
}

  .recharts-legend-wrapper {
  opacity: 0;
  animation: legendFade 2s forwards;
  animation-delay: 1s;
  transition: 1s !important;
}

.recharts-legend-item-text {
  font-weight: 500 !important;
  padding: 4px !important;
  background-color: #343434 !important;
  border-width: 1px 1px 2px 1px !important;
  border-style: solid !important;
  border-radius: 3px !important;
  border-color: #080613 !important;
  box-shadow: 1px 1px 0 rgba(149, 57, 222, 0.25) !important;
  transition: 1s !important;
}

.specialYearLabel {
  font-family: "Courier New", serif !important;
  font-weight: 700 !important;
  transition: 1s;
}

.animationClass1 {
  animation: legendFade 1.5s forwards;
}

@keyframes legendFade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



