.mathChartComp {
  overflow: hidden;
  height: 632px;
}

.inputWrapper {
  display: flex;
  overflow: hidden;
  align-items: center;
  width: 85%;
  height: 100px;
  margin-right: 5%;
  margin-left: 5%;
  margin-top: 16px;
}
.css-hdw1oc {
  display: none;
}

.inputField {
  font-size: 2rem !important;
  font-weight: 700 !important;
}

.buttonsWrap {
  display: flex;
  flex-direction: row;
  margin-left: 8%;
  height: 90%;
  width: 100%;
}

.butItem {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 12%;
  height: 100%;
  flex-direction: column;
}

.butItemText {
  color: #d1a6ff;
  opacity: 0.8;
  font-family: 'Roboto', serif;
  font-size: 1.2em;
  word-break: break-word;
  text-align: center;
  margin: 0;
}

.imgButton:active {
  rotate: 0deg !important;
  transition: 0.1s !important;
}