:root {
    --background-color: #080613;
    --tagtext-color: #b55eff;
    --tagtext-color1: #e880ff;
    --circle-color: #b576f8;
}

.bg {
    width: 100%;
    min-height: 1080px;
    height: 100% !important;
    font-size: 1.5rem;
    line-height: 1.55;
    background-color: var(--background-color);}

.Base {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.Headclass {
    display: flex;
    flex-direction: column;
    width: 60%;
    color: white;
}

.Bottomclass {
    margin-top: 40px;
    width: 60%;
}

.HeadTitle {
    display: flex;
    font-size: 5rem;
    font-weight: 650 !important;
    opacity: 0.85;
    margin-bottom: 0;
    margin-left: 10%;
    margin-top: 72px;
    letter-spacing: 0.2em;

}

.HeadDescription {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.BottomDescription {

}

.Codetextblock {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 5%;
}

.Codetextblock1 {
    display: flex;
    flex-direction: row;
    margin: 0 0 30px 10%;
}

.Codetextblock2 {
    display: flex;
    flex-direction: row;
    margin: 0 0 30px 15%;
}

.Tagtext {
    color: var(--tagtext-color);
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
}

.Tagtext1 {
    color: var(--tagtext-color1);
    align-self: center;
    margin-left: 10px;
    margin-right: 10px;
}

.TextParagraph {
    width: 100%;
    margin: 0 0 0 0
}

ul {
    margin: 0;
    padding: 0;
    // list-style-type: square;
    // list-style-position: inside;
    list-style: none; /* Remove default bullets */

}

li {
    margin-top: 10px;
    margin-left: 10%;
}

ul li::before {
    content: "\2022";  /*  \2022 is the CSS Code/unicode for a bullet */
    color: var(--tagtext-color); /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.SideImaging {
    display: flex;
    width: 600px;
    align-self: flex-start;
    justify-content: center;
    margin-top: 8%;
    margin-left: 5%;
}

.MyImage {
    position: relative;
    width: 368px;
    height: 368px;
    border-radius: 300px;
    z-index: 5;
    animation: float 9s ease-in-out infinite;

}

.Circle, .Circle2, .Circle3 {
    position: absolute;
    margin-left: 0;
    background-color: var(--background-color);
    width: 368px;
    height: 368px;
    border-radius: 240px;
    z-index: 4;
    animation: float 9s ease-in-out infinite;
}

.Circle2 {
    background-color: var(--circle-color);
    box-shadow: 1px 1px 3px var(--circle-color);
    width: 358px;
    height: 358px;
    margin-top: 15px;
    margin-left: 20px;
    z-index: 3;
}

.Circle3 {
    background-color: var(--circle-color);
    box-shadow: -1px -1px 3px var(--circle-color);
    width: 368px;
    height: 368px;
    opacity: 0.5;
    margin-top: -10px;
    margin-left: -20px;
    z-index: 3;

}

.cardWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    width: 100%;
    height: 100%;
    margin: 20px 0 0 0;
}

@media (max-width: 875px) {
    .SideImaging {
        display: none;
    }
}

@media (max-width: 440px) {
    .HeadTitle {
        display: none;
    }
    .HeadDescription {
        margin: 0 0 0 0 !important;
        padding: 0 0 0 0 !important;
        align-self: auto;
        font-size: calc(1vw + 1vh);
        word-wrap: break-word;
        overflow: hidden;

    }

}

@media (max-width: 200px) {
    .boxCards {
        padding: 0 !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}

@media (max-width: 100px) {
    .cardWrapper {
        display: none;
    }
}




@keyframes float {
    0% {
        transform: translate(0px, 0px);
    }

    50% {
        transform: translate(10px, -15px);
        rotate: 3deg;
    }
    100% {
        transform: translate(0px, 0px);
    }
}

