.page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.login-container {
  padding: 10px;
}

.login-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 35%;
  border: #200C36 3px solid;
}

.input-field {
  width: 350px;
  min-width: 300px;
}

.parallax-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: red 5px solid;
}
