.page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 60px 0 60px 0;
  border: #ff00e58f 3px solid;
  box-shadow: 5px 4px 4px #FF00E5;
  border-radius: 8px;
  width: 565px;
}

.login-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  background: linear-gradient(#210C36, #100C3A, #100C3A, #210C36) !important;
}

.input-field {
  width: 350px;
  min-width: 300px;
  z-index: 50 !important;
  border-radius: 5px;
  background-color: #ffffff !important;
}

.login-field {
  margin-bottom: 40px !important;
}

.parallax-panel {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: red 5px solid;
}
