.projectCard {
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
  height: 100%;
  min-width: 600px;
  overflow: hidden;
  cursor: pointer;
  pointer-events: fill;
  border-radius: 5px;
  box-shadow: 3px -3px 3px rgba(181, 118, 248, 0.51);

}

.projectCardBody {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.cardClass {
  min-width: 330px;
  opacity: 0.95;
  padding: 0;
  margin:0;
}

.cardContents {
  padding: 0 0 0 0 !important;
  margin: 20px 0 0 20px !important;
  color: white !important;
}

.cardMedia {
  height: 300px;
  width: 100%;
}


.contentWrapper {
  position: relative;
  overflow: hidden;
  transition: 1s;
}

.descText {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  color: white;
  z-index: 6;
  transition: 1s;
}

.headDescText {
  font-size: 14px;
  font-weight: bold !important;
  margin-left: 20px !important;
  margin-top: 10px !important;
}
.bigDescText {
  margin-top: 10px !important;
  margin-left: 30px !important;
  opacity: 0.8;

}

.languageDescText {
  position: absolute;
  bottom: 10px;
  margin-left: 20px !important;
  font-weight: 700 !important;
  padding: 4px;
  background-color: #3b3b3b;
  border-width: 1px 1px 2px 1px;
  border-style: solid;
  border-radius: 3px;
  border-color: #080613;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, .25);
}

.cardMediaOverlay {
  position: absolute;
  opacity: .9;
  transform: translateY(-100%);
  z-index: 3;
  transition: 0.25s;
}

.blackTint {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: black;
  opacity: 0.2;
  z-index: 5;
  transition: 0.25s;

}

.cardClass:hover {

  .cardMedia {
    opacity: 0.1;
    transition: 0.5s;
  }

  .blackTint {
    opacity: 0;
  }

 .cardMediaOverlay {
    transform: translateY(0%);
    transition: 0.025s ease-out cubic-bezier(0,.75,0,1);
  }
  .img {
    opacity: 1;
  }
}

.cardActions {
  margin-left: 10px !important;
}


.animate {
  animation-name: afterHover;
  animation-delay: 0.2s;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  transition: ease-in-out cubic-bezier(0,.75,0,1);
}

.animate1 {
  animation-name: afterHoverTint;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  transition: ease-in;
}

@keyframes afterHover {
  0% {
    transform: translateY(-100%);
  }

  50% {
    transform: translateY(0.7%);
    rotate: 0.3deg;
  }

  100% {
    transform: translateY(0%);
    rotate: 0deg;
    transition: ease-in;
  }
}

@keyframes afterHoverTint {
  0%{
  }
  100% {
    opacity: 0.85 ;
    background-color: black;
  }
}


@media (max-width: 500px) {
  .cardClass {
    min-width: 0;
    max-width: 300px;
    min-height: 0;
    max-height: 240px;
  }
  .projectCard {
    min-width: 0;
    max-width: 300px;
  }
  .cardMedia {
    overflow: hidden;
  }
}

@media (max-width: 1710px) {
  .bigDescText {
    font-size: 13px !important;
  }
  .projectCard {
    min-width: 500px;
  }
}

@media (max-width: 1520px) {
  .bigDescText {
    font-size: 12px !important;
  }
  .projectCard {
    min-width: 450px;
  }
}

@media (max-width: 1337px) {
  .bigDescText {
    font-size: 11px !important;
  }
  .projectCard {
    min-width: 400px;
  }
}

@media (max-width: 1150px) {
  .projectCard {
    min-width: 330px;
  }
}

@media (max-width: 900px) {
  .bigDescText {
    font-size: 14px !important;
  }
}

@media (max-width: 785px) {
  .bigDescText {
    font-size: 13px !important;
  }
}

@media (max-width: 700px) {
  .bigDescText {
    font-size: 12px !important;
  }
}

@media (max-width: 600px) {
  .bigDescText {
    font-size: 11px !important;
  }
}


@media (max-width: 400px) {
  .cardClass {
    min-width: 0 !important;
    max-width: 300px !important;
    min-height: 0;
    max-height: 300px;
  }
  .projectCard {
    min-width: 0 !important;
    max-width: 300px !important;
  }
}

@media (max-width: 200px) {
  .cardClass {
    min-width: 0 !important;
    max-width: 100px !important;
    min-height: 0;
    max-height: 100px;
    width: 100%;
  }
  .projectCard {
    min-width: 0 !important;
    max-width: 100px !important;
    width: 100%;
  }
}