

.projectCard {
  padding: 0 0 0 0 !important;
  margin: 0 0 0 0 !important;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 3px -3px 3px rgba(181, 118, 248, 0.51);

}

.projectCardBody {
  margin: 0 0 0 0 !important;
  padding: 0 0 0 0 !important;
}

.cardClass {
  min-width: 330px;
  opacity: 0.95;
  padding: 0;
  margin:0;
}

.cardContents {
  padding: 0 0 0 0 !important;
  margin: 20px 0 0 20px !important;
  color: white !important;
}

.cardMedia {
  height: 300px;
  width: 100%;
}


.contentWrapper {
  position: relative;
  overflow: hidden;
}

.descText {
  display: flex;
  flex-direction: column;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: black !important;
  z-index: 4;
}

.headDescText {
  font-size: 14px;
  font-weight: bold !important;
  margin-left: 10px !important;
  margin-top: 10px !important;
}
.bigDescText {
  margin-top: 10px !important;
  margin-left: 20px !important;
  opacity: 0.8;
}

.languageDescText {
  position: absolute;
  bottom: 10px;
  margin-left: 20px !important;
}

.cardMediaOverlay {
  position: absolute;
  opacity: .9;
  transform: translateY(-100%);
  z-index: 3;
}

.blackTint {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: black;
  opacity: 0.6;
  z-index: 5;

}

.cardClass:hover {
  .cardMedia {
    opacity: 0.1;
    transition: 0.5s;
  }

  .blackTint {
    opacity: 0.6;
  }

 .cardMediaOverlay {
    transform: translateY(0%);
    transition: 0.01s ease-out cubic-bezier(0,.75,0,1);
  }
  .img {
    opacity: 1;
  }
}

/*
.cardClass:hover .cardMedia {
  opacity: 0.1;
  transition: 0.5s;
}

.cardClass:hover .cardMediaOverlay {
  opacity: 1;
  transform: translateY(0%);
  transition: 0.1s ease-out cubic-bezier(0,.75,0,1);
}

.cardClass:hover .smallDescText {
  translate: 20px 100px;
}
*/

.cardActions {
  margin-left: 10px !important;
}

@media (max-width: 500px) {
  .cardClass {
    min-width: 0;
    max-width: 300px;
    min-height: 0;
    max-height: 240px;
  }
  .projectCard {
    min-width: 0;
    max-width: 300px;
  }
  .cardMedia {
   overflow: hidden;
  }
}

@media (max-width: 400px) {
  .cardClass {
    min-width: 0 !important;
    max-width: 300px !important;
    min-height: 0;
    max-height: 300px;
  }
  .projectCard {
    min-width: 0 !important;
    max-width: 300px !important;
  }
}

@media (max-width: 200px) {
  .cardClass {
    min-width: 0 !important;
    max-width: 100px !important;
    min-height: 0;
    max-height: 100px;
    width: 100%;
  }
  .projectCard {
    min-width: 0 !important;
    max-width: 100px !important;
    width: 100%;
  }
}

.animate {
  animation-name: afterHover;
  animation-duration: 1s;
}

.animate1 {
  animation-name: afterHoverTint;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  transition: ease-in cubic-bezier(0,.75,0,1);
}

@keyframes afterHover {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(10px, -15px);
    rotate: 3deg;
  }
  100% {
    transform: translate(0px, 0px);
  }

}


@keyframes afterHoverTint {
  0%{
  }
  100% {
    opacity: 0.8 ;
    background-color: black;
  }

}