.MegaDivBase {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.bg {
    background-color: #080613;
    height: 1630px !important;
    width: 100%;
}

.musicHead{
    z-index: 1;
    text-align: center;
    color: white;
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;



}

@media (max-width: 110px) {
    .musicHead {
        display: none;
    }
}
.musicInformation {
    z-index: 1;
    color: #747083;
    margin: 30px 0 30px 0;
    font-size: 14px;
}

.CardContainer {
    flex-direction: row;

}
