.MegaDivBase {
    display: flex;
    flex-direction: row;
    height: 100vh;


}

.BaseContent {
    background-color: yellow;
    width: 50%;
    height: 200vh;
    flex-direction: row;

}

.BaseContent2 {
    background-color: aqua;
    width: 50%;
    height: 30px;
    flex-direction: row;

}