.MegaDivBase {
    display: flex;
    flex-direction: row;
    height: 100vh;


}

.bg {
    background-color: #080613;
}

.musicHead{
    text-align: center;
    color: white;
    width: 100%;
    font-family: 'Space Grotesk', sans-serif;

}
.musicInformation {
    color: #747083;
    margin: 30px 0px 30px 0px;
    font-size: 14px;
}

.CardContainer {
    flex-direction: row;

}
