.gameCard {
  overflow: hidden;
  height: 500px;
}
.gameContentWrapper {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
.gameCardMedia {
  object-fit: contain !important;
  height: 500px;

}