.Talant {
  object-fit: cover;
  background-size: cover;
  min-width:100% !important;
  min-height:100% !important;
  transition: transform 60s; /* Animation */
}

.Talant:hover {
  transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
