
.Header {
  border-color: transparent;
  background-color: transparent;
}

.Panel {
  background-color: #200C36;
  min-height: 70px !important;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
}

.imgContainer {
  overflow: hidden;
  padding: 0;
  margin: 5px 0 0 0;
}

.pixImg {
  height: 48px;
  width: 48px;
}
.Button {
  color: white !important;
  text-transform: unset !important;
}

.GridMain {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin-left: 300px;
}

.Typography {
  font-weight: 650 !important;
}

.animationClass {
  animation: moveIn 1.5s forwards;
}

@media (max-width: 450px) {
  .Header {
    display: none;
  }
}

@keyframes moveIn {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(3%);

  }
  100% {
    transform: translateY(0%);
  }
}
