.AppBar {
    backface-visibility: hidden;
}

a {
    text-decoration: none;
    margin-top: 17px;
    color: #b55eff;
}


a:hover {
    color: white;
}



.noise::before {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    content: "";
    opacity: .025;
    z-index: 1337;
    pointer-events: none;
    background: url(noise.gif);

}

